Soft/hard-lock for concurrent editing/conflict management in Form Runner

Feature:
- warn users opening the edit page for a form instance currently being edited by other users, giving them the option to edit the data or not (hence the lock being "soft")
- upon saving, if the data changed since it was loaded or last saved, ask users if they still want to go ahead, as there is a risk of the operation overwriting data capture by other users

Implementation:
- detecting the data is currently being edited; options are to store this information
  - in Ehcache; requires admins to setup Ehcache replication
  - in the database (metadata); our preference, to avoid making Ehcache replication mandatory
- detecting users are not editing a piece of data anymore; possibilities:
  1. non-solution: rely on the session heartbeat (which happens at 80% of the session duration); this might happen too infrequently, thus leading to too many false positives
  2. when the soft lock is enabled, we could make the heartbeat happen more often, e.g. every minute
  3. non-solution: do an Ajax request on `unload`, but this is [unreliable](http://stackoverflow.com/a/6162238/5295)
  4. partial solution: on `unload`, store an info on the browser (e.g. cookie or storage) and send to the server on next page load; but there might not be a next page load, if users don't come back to the Orbeon app
  5. do a synchronous request on `unload`; seems like the best solution so far, but do all browsers allow this to happen?


[+1 from customer](https://basecamp.com/1721271/projects/7915501/messages/44008763)

[+1 from community](http://discuss.orbeon.com/How-to-prevent-multiple-users-from-having-concurrent-access-to-a-form-instance-td4660113.html)

[+1 from customer](http://discuss.orbeon.com/Orbeon-persistence-API-telling-if-a-GET-is-for-view-or-edit-td4661154.html)

[+1 from customer](http://stackoverflow.com/questions/39251509/orbeon-form-builder-repository)

[+1 from evaluator](https://mail.google.com/mail/u/0/#inbox/15add1be74ff8a4e) to lock per part of the form.

[+1 from evaluator](https://mail.google.com/mail/u/0/#inbox/15add1be74ff8a4e)

We have a user request for a stronger lock: a 2nd user should *definitely* not be allowed to access the data in this case.

- Assume we have a database `orbeon_document_lock` table.
    - Form Runner document id
    - timestamp of last known interaction
    - maybe XForms UUID (form session id), Java session id? needed?
    - 3 states
        - `none`: no entry in table
        - `locked`: document if thought to be locked by a user
        - `unlocked`: document if thought to be unlocked by a user
        - or should we just have `none` and `locked`? 
- When the page loads in edit mode
    - check `orbeon_document_lock` to see if document is locked
    - if so, show page in readonly mode
    - if not, show page as usual
- When page is in edit mode and edit is allowed
    - send regular heartbeat to the server while the user is known to be using the form (à la [ifvisible.js}(https://github.com/serkanyersen/ifvisible.js))
        - server updates `orbeon_document_lock`
    - also send heartbeat upon detecting that the user is no longer using the form
        - then mark `orbeon_document_lock` entry as unused
    - if user starts using the page again
        - check entry is still unlocked and resume
        - if locked, mark form as locked
        - if unlocked, mark form as locked
- When page is in edit mode and edit is disallowed
    - TODO
- Q: What about concurrency? 2 users loading the document at a very close time and both think the doc is editable?
- Q: When to do gc of database entries?
- Q: What about browser back?


The persistence API implements 2 new methods: `LOCK` and `UNLOCK`, when relevant following [RFC 2518](http://ietf.org/rfc/rfc2518). If support for document leases is enabled for the current app/form, then when editing a given document, Form Runner first issues a `LOCK` for that document. Support for document leases is enabled with the following (in the future, we could also add properties to defined the lease strategy):

```xml
<property as="xs:boolean"  name="oxf.fr.lease.enabled.[app].[form]"  value="true"/>
```

Admins can configure the duration of the lease per app/form and per user role, so different classes of users can obtain leases of different durations.

```xml
<property as="xs:duration"  name="oxf.fr.lease.duration.[role].[app].[form]"  value="P10M"/>
```

When requesting a lease, Form Runner figures the lease duration for the current app/form and user role. When doing so, if multiple `oxf.fr.lease.duration` properties apply, for instance because the user has multiple roles, the longest duration is used. This duration is converted in seconds, and passed in the `LOCK` call through the `Timeout: Second-600` header (here for a 10 min lock), per section 9.8 of RFC 2518. Form Runner also sends a `<d:lockinfo>` XML document in the request body, which looks like:

```xml
<d:lockinfo xmlns:d="DAV:" xmlns:fr="http://orbeon.org/oxf/xml/form-runner">
    <d:lockscope><d:exclusive/></d:lockscope>
    <d:locktype><d:write/></d:locktype>
    <d:owner>
        <fr:username>jsmith</fr:username>
        <fr:groupname>admin</fr:groupname>
    </d:owner>
</d:lockinfo>
```

Form Runner includes `<d:lockscope>` and `<d:locktype>` for compliance with RFC 2518, but for now only the above values are supported. The implementation of the API consults the `orbeon_form_data_lease(document_id, username, groupname, expiration)` table to see if a lease has already been granted on the requested document:

1. When doing so, it acquires a write lock on the `orbeon_form_data_lease` table. On SQL Server, this is done by adding `SELECT … FROM orbeon_form_data_lease (TABLOCKX) WHERE …`. With `TABLOCKX`, we have an exclusive lock on the table, and other sessions won't be able to read from the table until this transaction ends.
2. If an entry exists and has expired, it updates the entry with the new `username`, `groupname`, and `expiration` and responds with a 200.
3. If an entry exists and it is for the same user, it updates the `expiration` and responds with a 200.
4. If the entry exists and is for a different user, it responds with a 423, per section 8.10.7. The response contains a `<d:lockinfo>` document with information about the owner of the lease (same document that was provided when the lease was acquired), and a `Timeout` header telling the caller for how much longer the lease is expected to stay in place. This timeout is only indicative as the lease can be canceled by the user (see `UNLOCK` below) or renewed (by issuing another `LOCK`).
5. Finally, if no entry exists, it creates one, and responds with a 200.
6. Releases the lock on the `orbeon_form_data_lease` table. On SQL Server, this will happen automatically at the end of the transaction.

To release a lease on a document, Form Runner uses the `UNLOCK` method, with no particular headers and an empty request body. In response, the implementation of the API removes the corresponding entry from `orbeon_form_data_lease`, if one exists, and responds with a 200. Form Runner has a new action `relinquish-lease`, and existing processes are updated to call that action before navigating away to another page.

If Form Runner:

- Can't obtain a lease on the document, it shows the form read-only, informing the user that another user already has a lease on the document, until when (indicative), by whom (username), and with a button to try to obtain the lease again. Buttons at the bottom of the form can be disabled using the `fr:user-owns-document-lease()` XPath function.
- Manages to obtain a lease on the document, it shows for how much longer the user has a lease on the document, and provides a button to extend the lease. The lease could be automatically extended when the user modified the data, maybe if a property is set, but this goes beyond the scope of this RFE. If the lease is lost while the user is editing, the user is informed, and the page shows as when the lease cannot be obtained (see above), this most likely reloads the current page. We could also inform the user when the lease is just about to expire, but this also goes beyond the scope of this RFE.

- [x] In `createLease` and `updateLease`, compute expiration we store in the database (right now we have 42 as a hardcoded value). This is based on the `Timeout: Second-600` header we receive.
- [x] `UNLOCK` support
    - [x] Code `HttpAssert.lock()` to pass a `Timeout` header.
    - [x] Write basic test for `UNLOCK` method.
        - [x] Add support for `UNLOCK` to "test framework".


- [ ] When users go to `/edit` and can't get a lease, should they be redirected to `/view`, or should the URL stay `/edit` but the form show in read-only?
    - The 2 possibilities
        - Option 1 – If we send them to `/view`, we'll need an additional parameter, say `?want-to-edit=true`, so the view page knows that it needs to display lease-related information. Also, when users attempt to acquire the lock, we would have to take them back to `/edit`, and redirect them to `/view` if that fails. It is doable, but reloading pages this way seems inefficient (more resources on the server, time to wait for users).
        - Option 2 – If we keep them on `/edit`, we need a way to dynamically switch between the view and edit modes. We already have already given some thoughts about what it would take to implement this as part of #2999.
    - [ ] Evaluate if implementing #2999 is necessary for option 2 above, and, if so, if it is reasonable to do so as part of the work we are doing on this issue.

![1067 soft_hard-lock for concurrent editing_conflict management in form runner](https://user-images.githubusercontent.com/106961/32342535-e262d98e-bfbd-11e7-97bb-7604024d8151.png)


- [ ] The Apache HTTP Client doesn't support the LOCK and UNLOCK methods, at least out-of-the-box, which right now prevents the use of an external implementation of the persistence API with support for leases.

- [x] Auto-renew the lease when user interacts with the form.
    - [x] In `persistence-model.xml` keep track of `lease-renew-threshold` and `lease-alert-threshold` in the instance, based on properties.
    - [x] In `persistence-model.xml`, on mutation events, if `renew-threshold` has passed since the lease has been obtained, try to renew the lease.
    - [x] Test loading ⇒ user gets 10 min, wait for 1 min, change the value of a field ⇒ user gets again 10 min.
    - [x] Document new properties.

- [ ] Add property for implementations of the persistence API to declare if they support the lease feature
- [ ] Better feedback when action is going on
- [ ] Run SQL Server on Travis
- [ ] Think of how the lease plays with the autosave feature; does it make sense to acquire the lease before the user choose which document to load?
- [ ] 2 min before the end, show dialog asking users if they want to renew the lease
- [ ] Localize resources
- [ ] Support other relational databases
- [ ] Documentation: `fr:user-owns-document-lease()` function and how to use it in `oxf.fr.detail.button.[button].visible.*.*` properties (by default buttons are hidden when the user doesn't own the lease)